""" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d """"

""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set relativenumber
set number

set clipboard=unnamedplus
vnoremap <C-c> :w !wl-copy<CR><CR>
nnoremap <C-v> :r !wl-paste<CR><CR>
inoremap <C-v> <Esc>:r !wl-paste<CR><CR>i

""" Plugin mettings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray

"""Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)<Esc>l
map <leader>c <Action>(Stop)
map <leader>g <Action>(Run)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>2 <Action>(GotoNextError)
map <leader>x <Action>(CloseEditor)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map <leader>t :action ActivateTerminalToolWindow<CR>
map <leader>l :action ActivateDebugToolWindow<CR>

map <C-d> <C-d>zz
map <C-u> <C-u>zz

map<leader>sf :action GotoFile<CR>"open terminal

vmap <Leader>y "+y
nmap <Leader>P "+P
"""set clipboard+=unnamed