* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    min-height: 0;
    /*padding-bottom: 1px;*/
    /*padding-top: 2px;*/
}

window#waybar {
    opacity: 0.5;
    background: #000000;
    transition-duration: .2s;
    transition-property: background-color;
}

#battery {
    background: transparent;
    color: #ffffff;
    opacity: 0.7;
    padding: 2px 2px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    padding: 2px 6px;
}

#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    background-color: #f53c3c;
    color: gray;
}

#clock {
    /*background: #1f1f1f;*/
    font-family: Roboto;
    color: #ffffff;
    margin: 0 4px;
    padding: 2px 2px;
}

#network {
    background: transparent;
    color: #ffffff;
    opacity: 0.7;
    padding: 2px 2px;
}

#network.disconnected {
    background: #1f1f1f;
    color: red;
}

#tray {
    color: #ffffff;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    color: #ffffff;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #1f1f1f;
    color: #ffffff;
}

#workspaces {
    font-family: Roboto;
}


#workspaces button:hover {
    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    background: @background;
    border-bottom: 1px solid #ffffff;
    box-shadow: inherit;
    color: #ffffff;
}

#workspaces button {
    background: transparent;
    color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    padding: 2px;
    opacity: 0.7;
}

#workspaces button.focused {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    opacity: 0.8;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#backlight,
#custom-power,
#custom-audio {
    background: transparent;
    color: #ffffff;
    opacity: 0.7;
    padding: 2px 2px;
}
